*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.venv
*.class
*.jar
*.war
EndPoint.txt
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.env
.vscode/
local.properties
*.keystore
google-services.json
.env
/app/build
*.apk
*.aab
*.bbl
*.bcf
*.blg
*.run.xml
.vscode/
*.swp